$main-color: #6B4EFF;
$primary-color: #6B4EFF;
$red-color: #FF5247;
$green-color: #23C16B;
$yellow-color: #FFB323;
$gray-color: #CDCFD0;
$dark-color: #0E0F0F;
$font-main: 'Inter';
$text-main-color: #0E0F0F;
$white-color: #FFF;
$background-color: #FFFFFF;
$hover-item-color: #ececec;