.nav_bar_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .menu_item {
    margin-left: 16px;
    button {
      box-shadow: unset;
      margin-bottom: 0;
      padding: 0 8px;
    }
  }
}

.icon_container {
  display: flex;
  align-items: center;
}

.header_right {
  display: flex;
}